#toggleButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px; 
    font-size: 1.2em;
    border: none;
}

.painting-container {
    text-align: center;
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
    /* position: relative; */
    /* width: 100%; */
}

.painting-container img {
    max-width: 80%;
    height: auto;
    display: inline-block;
}

.marker {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
}

.info {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    display: none;
}

.marker:hover + .info {
    display: block;
}

#marker1 {
    top: 300px;
    left: 600px;
}

#marker2 {
    top: 380px;
    left: 300px;
}

#marker3 {
    top: 200px;
    right: 300px;
}

#marker4 {
    top: 250px;
    left: 400px;
}


#info1 {
    top: 200px;
    left: 200px;
}


#info2 {
    top: 500px;
    left: 200px;
}


#info3 {
    top: 200px;
    right: 200px;
}

#info4 {
    top: 30px;
    left: 200px;
}
